*{
    margin: 0;
    padding: 0; 
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0   0   10px    0;
    height: 10%;
    border-bottom:solid black;
    border: 10%;
}

#escudo{
    margin-left: 10px;
}

nav{
    display: flex;
}

ul.padreNav{
    list-style: none;
    display: flex;
    align-items: center;
    border: solid 1px black;
}

.padreNav li{
    display: flex;
    position: relative;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
    border: solid 1px black;
    align-items: center;
}

.padreNav li:hover{
    box-shadow: 3px 3px rgb(4, 4, 78);
}

ul ul li .sub{
    display: block;
    border: none;
    padding-top: 5px;


}

#CuervoSoy{
    display:inline-block;
    display: flex;
    align-items:center
}

main{
    height: 80vh;
}

section.cards{
    display:flex;
    text-align: justify;
    flex-direction: column;
    border: 2px solid black;

}

article.cards{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

aside{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
}


footer ul{
    display: flex;
    margin: 10px;
    flex-direction:column-reverse
}